@import "../styles/variables";
@import "../styles/mixins";


.input {
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    padding: 1rem 1.5rem;
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.1);
    width: 100%;
}